table.versus th {
  font-style: normal;
  font-size: 1.2em;
  font-weight: bold;
}

table.versus img {
  width: 40px;
  height: 40px;
}

table.versus date {
  font-size: 0.7em;
  display:block;
}

.mini-img{
  width: 25px;
  height: 25px;
  margin-top: -12px;
}

.select2 > .select2-choice.ui-select-match {
    height: 29px;
}
